:root {
    --primary-color: #1890ff;
    --secondary-color: #f5222d;
    --input-border-color: #d9d9d9;
    --input-background: #f5f5f5;
    --button-padding: 8px 16px;
    --button-border-radius: 4px;
    --button-font-size: 16px;
  }
/* Button Styles */
.btn {
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    border: #1890ff;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  /* Input Styles */
  .input {
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input-large {
    padding: 12px;
    font-size: 18px;
  }
  
  .input-icon-left {
    padding-left: 40px;
    background-image: url('User.png');
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  .btn-icon-left{
    padding-left: 40px;
    background-image: url('Search.png');
    background-repeat: no-repeat;
    background-position: 10px center;
  }
  .post{
    padding-left: 40px;
    background-image: url('Search-grey.png');
    background-repeat: no-repeat;
    background-position: 10px center;

  }
  
  .input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0px 0px 6px 0px #1890FF80; 
  }
  .input:hover{
    border-color: var(--primary-color);
  }
  